::selection {
  background: #fff;
  color: #bf3a30; 
}

::-webkit-scrollbar {
  width: 10px;
  background: #f3f4f6; 
}
::-webkit-scrollbar-thumb {
  background: #bf3a30; 
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #be185d; 
}